body {
    min-width: 960px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    background: #000000 url("../img/index-bg.jpg") no-repeat center top;
}

.inner-page {
    color: #000000;
    background: #f8f5f2 url("../img/index-content-bg.png") repeat;
}

/*=================================
=            $Elements            =
=================================*/
h2 { font-size: 30px; }

h3 { font-size: 24px; }
/*=====  End of $Elements  ======*/





/*================================================
=            $Objects and abstraction            =
================================================*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;

    /* Только для оформления сетки */
    /*outline: 2px solid crimson;*/
}

.btn {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 33px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover,
.btn:active { background-color: #663d15; }

.btn.disabled,
.btn:disabled {
    cursor: default;
    opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover { background-color: #000000; }

.inner-page-title { margin-bottom: 55px; }

.inner-page-title h1 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs li {
    position: relative;
    display: inline;
    padding-right: 40px;
}

.breadcrumbs li::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 15px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    transform: rotate(45deg);
}

.breadcrumbs a {
    color: #000000;
    text-decoration: none;
}

.breadcrumbs a:hover { text-decoration: underline; }

.breadcrumbs .current { color: #aba9a7; }

.breadcrumbs .current::after { display: none; }

.inner-content { margin-bottom: 75px; }

.inner-content h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
}

.inner-content h3 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
}

.inner-content h2 + h3 { margin-top: 30px; }

.inner-content p { margin: 14px 0; }

.inner-content table { border-collapse: collapse; }

.inner-content td {
    padding: 10px 15px;
    border: 2px solid #000000;
}

.disabled { opacity: 0.3; }
/*=====  End of $Objects and abstraction  ======*/





/*===============================
=            $Header            =
===============================*/
.main-header {
    margin-bottom: 60px;
    color: #ffffff;
    background-color: #000000;
}

.inner-page .main-header { margin-bottom: 55px; }

.main-navigation {
    float: left;
    width: 800px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
}

.main-navigation a {
    display: block;
    padding: 25px 20px;
    color: #ffffff;
    text-decoration: none;
}

.main-navigation a:hover {
    background-color: #242424;
}

.main-navigation .active {
    position: relative;
    background-color: none;
}

.main-navigation .active a:hover {
    background: none;
}

.main-navigation .active::after {
    content: "";
    position: absolute;
    right: 20px;
    bottom: -1px;
    left: 20px;
    height: 4px;
    background-color: #ffffff;
}

.main-navigation .active span {
    display: block;
    padding: 25px 20px;
}

.main-navigation .logo-inner {
    float: left;
    width: 111px;
    height: 24px;
    padding-top: 22px;
}

.main-navigation .logo-inner img {
    width: 111px;
    height: 24px;
}

.main-navigation .logo-inner:hover { background: none; }

.user-block {
    float: right;
    max-width: 140px;
}

.login {
    position: relative;
    display: inline-block;
    padding: 25px 20px;
    padding-left: 50px;
    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
}

.login:hover {
    background-color: #242424;
}

.login::before {
    content: '';
    position: absolute;
    top: 28px;
    left: 20px;
    width: 18px;
    height: 18px;
    background: transparent url("../img/sprite.png") no-repeat -100px -2px;
    opacity: 0.3;
}

.login:hover::before { opacity: 1; }
/*=====  End of $Header  ======*/





/*======================================
=            $Index Content            =
======================================*/
.index-logo {
    width: 368px;
    height: 204px;
    margin: 0 auto 25px;
}

.index-logo img {
    width: 368px;
    height: 204px;
}

.features { margin-bottom: 80px; }

.features-item {
    float: left;
    width: 300px;
    margin-right: 20px;
    text-align: center;
}

.features-item:last-child { margin-right: 0; }

.features-name {
    position: relative;
    display: block;
    margin-bottom: 30px;
    padding-bottom: 35px;
    font-size: 30px;
    line-height: 42px;
}

.features-item p {
    margin: 10px;
    margin-bottom: 0;
}

.features-name::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background-color: #ffffff;
    transform: rotate(45deg);
}

.index-content {
    margin-bottom: 35px;
    padding: 50px 80px;
    color: #000000;
    background: url("../img/dividing-line.png") no-repeat center,
            #f8f5f2 url("../img/index-content-bg.png");
}

.index-content-left {
    float: left;
    width: 380px;
}

.index-content-right {
    float: right;
    width: 300px;
}

.index-content-title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 42px;
}

.index-content p {
    margin: 0;
    margin-bottom: 25px;
}

.news-preview {
    margin: 0;
    padding: 0;
    padding-right: 35px;
    list-style: none;
}

.news-preview li { margin-bottom: 25px; }

.news-preview p { margin-bottom: 0; }

.news-preview time {
    text-transform: none;
    font-weight: 400;
}

.gallery {
    position: relative;
    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0;
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery .btn {
    position: absolute;
    bottom: 0;
    width: 140px;
    margin: 0;
}

.gallery-prev { left: 0; }

.gallery-next { right: 0; }

.appointment-form input {
    float: left;
    width: 106px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 7px 15px;
    font-size: 14px;
    line-height: 24px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    color: #000000;
    text-transform: uppercase;
    background-color: #f9f6f3;
    border: 2px solid #000000;
    outline: none;
}

.appointment-form input:focus { border: 2px solid #663d15; }

.appointment-form input:nth-child(even) { margin-right: 0; }

.appointment-form .btn {
    clear: both;
    width: 100%;
}
/*=====  End of $Index Content  ======*/





/*=====================================
=            $Item Content            =
=====================================*/
.photo-gallery { float: left; }

.photo-gallery-content {
    width: 460px;
    min-height: 200px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    line-height: 0;
    background-color: #cccccc;
    box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.photo-gallery-content > img { width: 460px; }

.photo-gallery-mini {
    text-align: center;
    line-height: 0;
}

.photo-gallery-mini> a {
    display: inline-block;
    margin-right: 20px;
    background-color: #cccccc;
    box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.photo-gallery-mini> a:last-child { margin-right: 0; }

.photo-gallery-mini> a > img {
    width: 140px;
    height: 149px;
}

.description {
    float: right;
    width: 390px;
}

.description > span {
    display: inline-block;
    margin-top: 20px;
}

.item-code {
    float: right;
    color: #aeaeae;
}

.description > p {
    clear: both;
    margin: 30px 0 35px;
}

.price {
    margin-bottom: 65px;
    font-size: 0;
}

.price > span {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    padding: 10px 5px;
    text-align: center;
    font-size: 14px;
    background-color: #e5e5e5;
}

.kit-title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
}

.kit-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.kit-list > li {
    position: relative;
    padding-left: 20px;
}

.kit-list > li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    background-color: #000000;
    transform: rotate(45deg);
}
/*=====  End of $Item Content  ======*/





/*======================================
=            $Price Content            =
======================================*/
.big-heading {
    margin-top: 55px;
    margin-bottom: 65px;
    text-align: center;
}

.big-heading h2 {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 0;
    padding: 0 25px;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    background: #f8f5f2 url("../img/index-content-bg.png") repeat;
}

.big-heading::after {
    content: "";
    position: relative;
    top: -25px;
    z-index: 1;
    display: block;
    border-bottom: 2px solid #000000;
}

.custom-list-1 {
    margin: 14px 0;
    padding: 0;
    list-style: none;
}

.custom-list-1 li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 20px;
}

.custom-list-1 li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: #000000;
    transform: rotate(45deg);
}

.price-table { width: 100%; }

.price-table td { width: 50%; }

.price-table td:last-child { text-align: center; }

.short-text { padding-right: 80px; }

/* Колонки для контента */
.inner-columns { margin: 60px 0; }

.inner-column-left,
.inner-column-right { width: 460px; }

.inner-column-left { float: left; }

.inner-column-right { float: right; }

.inner-column-left *:first-child,
.inner-column-right *:first-child { margin-top: 0; }

.inner-column-left *:last-child,
.inner-column-right *:last-child { margin-bottom: 0; }
/*=====  End of $Price Content  ======*/





/*=====================================
=            $Shop Content            =
=====================================*/
.filters {
    float: left;
    width: 220px;
    padding: 0 10px;
}

.filters fieldset {
    margin-bottom: 50px;
    padding: 0;
    border: none;
}

.filter-title {
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 30px;
}

.filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-item { margin: 15px 0; }

.filter-item:first-child { margin-top: 0; }

.filter-item:last-child { margin-bottom: 0; }

.filter-item > label {
    position: relative;
    display: inline-block;
    padding-left: 45px;
    line-height: 18px;
}

.filter-item  label { cursor: pointer; }

.filter-item  label:hover { color: #663d15; }

/* checkbox/radio */
input[type="checkbox"],
input[type="radio"] { display: none; }

input[type="checkbox"] + label,
input[type="radio"] + label {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
    background-color: #f9f6f3;
}

input[type="radio"] + label { border-radius: 50%; }

input[type="checkbox"]:checked + label::before,
input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -1px;
    width: 18px;
    height: 2px;
    background-color: #000000;
    border-radius: 1px;
}

input[type="checkbox"] + label::before { transform: rotate(45deg); }

input[type="checkbox"] + label::after { transform: rotate(-45deg); }

input[type="radio"]:checked + label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%);
    background-color: #000000;
    border-radius: 50%;
}
/* End checkbox/radio */

.products {
    float: right;
    width: 700px;
}

.products-item {
    display: inline-block;
    vertical-align: top;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.products-item:nth-child(3n + 3) { margin-right: 0; }

.products-item-title {
    display: block;
    margin-bottom: 15px;
    line-height: 0;
    text-decoration: none;
}

.products-item-title > img {
    width: 220px;
    height: 165px;
    -o-object-fit: cover;
       object-fit: cover;
}

.products-item-title > h1 {
    margin: 0;
    margin-top: 15px;
    padding: 0 15px;
    font-family: 'PT Sans Narrow';
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.products-item-category { text-transform: none; }

.products-item .price {
    margin-bottom: 0;
    padding: 0 15px;
}

.products-item .price > .btn {
    width: 80px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 0;
    box-sizing: border-box;
}

/* paginator */
.paginator {
    margin-top: 25px;
    white-space: nowrap;
}

.paginator a {
    display: inline-block;
    min-width: 33px;
    height: 43px;
    margin-right: 4px;
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 43px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    background: #000000;
}

.paginator a:last-child { margin-right: 0; }

.paginator a:hover { background-color: #663d15; }

.paginator .current,
.paginator .current:hover {
    background-color: #ffffff;
    color: #000000;
}
/* End paginator */

/*=====  End of $Shop Content  ======*/







/*===============================
=            $Footer            =
===============================*/
.main-footer {
    margin-top: 65px;
    padding: 60px 0 40px;
    color: #ffffff;
    background: #232323 url("../img/footer-bg.png");
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
}

.footer-contacts a { color: #ffffff; }

.footer-contacts a:hover { text-decoration: none; }

.footer-social {
    float: left;
    width: 180px;
    text-align: center;
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
}

.social-btn {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    background-color: #000000;
    transition: background-color 0.5s;
}

.social-btn:hover { background-color: #ffffff; }

.social-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    transition: background-position 0.5s;
}

.social-btn-vk::before {
    width: 25px;
    height: 16px;
    background-position: -122px -2px;
}

.social-btn-fb::before {
    width: 12px;
    height: 22px;
    background-position: -18px -2px;
}

.social-btn-inst::before {
    width: 21px;
    height: 21px;
    background-position: -50px -2px;
}

.social-btn-vk:hover::before { background-position: -151px -2px; }

.social-btn-fb:hover::before { background-position: -34px -2px; }

.social-btn-inst:hover::before { background-position: -75px -2px; }

.footer-copyright {
    float: right;
    max-width: 180px;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.footer-copyright .btn { margin-right: 0; }

.footer-copyright .btn:hover {
    color: #000000;
    background-color: #ffffff;
}
/*=====  End of $Footer  ======*/





/*================================================
=            Всплывающие окна (popup)            =
================================================*/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: absolute;
    top: 120px;
    left: 50%;
    display: none;
    width: 300px;
    margin-left: -230px;
    padding: 50px 80px;
    color: #000000;
    background: #f8f3f0 url("../img/index-content-bg.png");
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-map {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    z-index: 20;
    width: 766px;
    height: 561px;
    margin-top: -280px;
    margin-left: -390px;
    background: #e9e5dc url("../img/map.jpg");
    border: 7px solid #ffffff;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-close {
    position: absolute;
    top: 0;
    right: -34px;
    width: 22px;
    height: 22px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    width: 19px;
    height: 3px;
    background-color: #d0d0d0;
    border-radius: 1px;
}

.modal-content-close::before { transform: rotate(45deg); }

.modal-content-close::after { transform: rotate(-45deg); }

.modal-content h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
}

.modal-content p {
    margin: 0;
    margin-bottom: 14px;
}

.modal-content .login-form {
    margin-top: 30px;
    margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    position: relative;
    width: 241px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 15px;
    padding-right: 40px;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: #000000;
    text-transform: uppercase;
    background-color: #f9f6f3;
    border: 2px solid #000000;
    outline: none;
}

.login-form input:focus { border-color: #663d15; }

.login-form input.icon-user,
.login-form input.icon-password {
    background-image: url("../img/icons-form.png");
    background-repeat: no-repeat;
}

.login-form input.icon-user { background-position: 100% 0; }

.login-form input.icon-password { background-position: 100% -48px; }

.login-form .restore {
    float: right;
    color: #000000;
}

.login-form .btn {
    width: 100%;
    margin-top: 15px;
}

.login-checkbox input[type="checkbox"] { display: none; }

.login-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.login-checkbox:hover { color: #663d15; }

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: -3px;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 1px;
    width: 15px;
    height: 2px;
    background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before { transform: rotate(45deg); }

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after { transform: rotate(-45deg); }

/*=====  End of Всплывающие формы (popup)  ======*/