body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
}

/*=================================
=            $Elements            =
=================================*/
h2 { font-size: 30px; }

h3 { font-size: 24px; }
/*=====  End of $Elements  ======*/





/*================================================
=            $Objects and abstraction            =
================================================*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;

    /* Только для оформления сетки */
    outline: 2px solid crimson;
}

.breadcrumbs {
    /* Только для оформления сетки */
    outline: 2px solid green;
}
/*=====  End of $Objects and abstraction  ======*/





/*===============================
=            $Header            =
===============================*/
.main-header {
    margin-bottom: 60px;

    /* Только для оформления сетки */
    outline: 2px solid green;
}

.logo {
    float: left;
    width: 111px;
    height: 24px;
    margin-right: 20px;

    /* Только для оформления сетки */
    outline: 2px solid greenyellow;
}

.main-navigation {
    float: left;
    width: 660px;

    /* Только для оформления сетки */
    min-height: 70px;
    outline: 2px solid orange;
}

.user-block {
    float: right;
    width: 140px;

    /* Только для оформления сетки */
    min-height: 70px;
    outline: 2px solid orange;
}
/*=====  End of $Header  ======*/





/*======================================
=            $Index Content            =
======================================*/
.index-logo {
    width: 368px;
    height: 204px;
    margin: 0 auto 25px;

    /* Только для оформления сетки */
    outline: 2px solid green;
}

.features { margin-bottom: 80px; }

.features-item {
    float: left;
    width: 300px;
    margin-right: 20px;

    /* Только для оформления сетки */
    min-height: 175px;
    outline: 2px solid orange;
}

.features-item:last-child { margin-right: 0; }

.index-content {
    margin-bottom: 35px;
    padding: 50px 80px;

    /* Только для оформления сетки */
    outline: 2px solid green;
}

.index-content-left {
    float: left;
    width: 380px;

    /* Только для оформления сетки */
    min-height: 330px;
    outline: 2px solid crimson;
}

.index-content-right {
    float: right;
    width: 300px;

    /* Только для оформления сетки */
    min-height: 330px;
    outline: 2px solid crimson;
}
/*=====  End of $Index Content  ======*/





/*=====================================
=            $Item Content            =
=====================================*/
.photo-gallery {
    float: left;
    margin-right: 10px;

    /* Только для оформления сетки */
    min-height: 670px;
    outline: 2px solid cyan;
}

.description {
    float: left;
    width: 390px;

    /* Только для оформления сетки */
    min-height: 200px;
    outline: 2px solid cyan;
}

.price {
    float: left;

    /* Только для оформления сетки */
    min-height: 45px;
    outline: 2px solid cyan;
}

.kit {
    float: left;

    /* Только для оформления сетки */
    min-height: 175px;
    outline: 2px solid cyan;
}
/*=====  End of $Item Content  ======*/





/*======================================
=            $Price Content            =
======================================*/
.price-content-left {
    float: left;
    width: 400px;

    /* Только для оформления сетки */
    min-height: 260px;
    outline: 2px solid violet;
}

.price-content-right {
    float: right;
    width: 470px;

    /* Только для оформления сетки */
    min-height: 260px;
    outline: 2px solid violet;
}

.about {
    /* Только для оформления сетки */
    min-height: 170px;
    outline: 2px solid violet;
}

.about-content-left {
    float: left;
    width: 400px;

    /* Только для оформления сетки */
    outline: 2px solid orange;
}

.about-content-right {
    float: right;
    width: 470px;

    /* Только для оформления сетки */
    outline: 2px solid orange;
}
/*=====  End of $Price Content  ======*/






/*===============================
=            $Footer            =
===============================*/
.main-footer {
    margin-top: 65px;
    padding: 60px 0 40px;

    /* Только для оформления сетки */
    outline: 2px solid green;
}

.footer-contacts,
.footer-social,
.footer-copyright {
    /* Только для оформления сетки */
    min-height: 90px;
    outline: 2px solid orange;
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
}

.footer-social {
    float: left;
    width: 180px;
}

.footer-copyright {
    float: right;
    width: 180px;
}
/*=====  End of $Footer  ======*/
