body {
    min-width: 960px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    background: #000000 url(../img/index-bg.jpg) no-repeat center top;
}

/*=================================
=            $Elements            =
=================================*/
h2 { font-size: 30px; }

h3 { font-size: 24px; }
/*=====  End of $Elements  ======*/





/*================================================
=            $Objects and abstraction            =
================================================*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;

    /* Только для оформления сетки */
    /*outline: 2px solid crimson;*/
}

.btn {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 33px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    vertical-align: top;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover,
.btn:active { background-color: #663d15; }

.btn.disabled,
.btn:disabled {
    cursor: default;
    opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover { background-color: #000000; }

.breadcrumbs {
    /* Только для оформления сетки */
    outline: 2px solid green;
}
/*=====  End of $Objects and abstraction  ======*/





/*===============================
=            $Header            =
===============================*/
.main-header {
    margin-bottom: 60px;
    color: #ffffff;
    background-color: #000000;
}

.main-navigation {
    float: left;
    width: 800px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
}

.main-navigation a {
    display: block;
    padding: 25px 20px;
    color: #ffffff;
    text-decoration: none;
}

.main-navigation a:hover {
    background-color: #242424;
}

.main-navigation .active {
    position: relative;
    background-color: none;
}

.main-navigation .active a:hover {
    background: none;
}

.main-navigation .active::after {
    content: "";
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;
    height: 4px;
    background-color: #ffffff;
}

.main-navigation .active span {
    display: block;
    padding: 25px 20px;
}

.main-navigation .logo-inner {
    float: left;
    width: 111px;
    height: 24px;
    padding-top: 22px;
}

.main-navigation .logo-inner img {
    width: 111px;
    height: 24px;
}

.main-navigation .logo-inner:hover { background: none; }

.user-block {
    float: right;
    max-width: 140px;
}

.login {
    position: relative;
    display: inline-block;
    padding: 25px 20px;
    padding-left: 50px;
    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
}

.login:hover {
    background-color: #242424;
}

.login::before {
    content: '';
    position: absolute;
    top: 28px;
    left: 20px;
    width: 18px;
    height: 18px;
    background: transparent url(../img/sprite.png) no-repeat -100px -2px;
    opacity: 0.3;
}

.login:hover::before { opacity: 1; }
/*=====  End of $Header  ======*/





/*======================================
=            $Index Content            =
======================================*/
.index-logo {
    width: 368px;
    height: 204px;
    margin: 0 auto 25px;
}

.index-logo img {
    width: 368px;
    height: 204px;
}

.features { margin-bottom: 80px; }

.features-item {
    float: left;
    width: 300px;
    margin-right: 20px;
    text-align: center;
}

.features-item:last-child { margin-right: 0; }

.features-name {
    position: relative;
    display: block;
    margin-bottom: 30px;
    padding-bottom: 35px;
    font-size: 30px;
    line-height: 42px;
}

.features-item p {
    margin: 10px;
    margin-bottom: 0;
}

.features-name::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background-color: #ffffff;
    transform: rotate(45deg);
}

.index-content {
    margin-bottom: 35px;
    padding: 50px 80px;
    color: #000000;
    background: url(../img/dividing-line.png) no-repeat center,
            #f8f5f2 url(../img/index-content-bg.png);
}

.index-content-left {
    float: left;
    width: 380px;
}

.index-content-right {
    float: right;
    width: 300px;
}

.index-content-title {
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 42px;
}

.index-content p {
    margin: 0;
    margin-bottom: 25px;
}

.news-preview {
    margin: 0;
    padding: 0;
    padding-right: 35px;
    list-style: none;
}

.news-preview li { margin-bottom: 25px; }

.news-preview p { margin-bottom: 0; }

.news-preview time {
    text-transform: none;
    font-weight: 400;
}

.gallery {
    position: relative;
    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0;
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

.gallery .btn {
    position: absolute;
    bottom: 0;
    width: 140px;
    margin: 0;
}

.gallery-prev { left: 0; }

.gallery-next { right: 0; }

.appointment-form input {
    float: left;
    width: 106px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 7px 15px;
    font-size: 14px;
    line-height: 24px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    color: #000000;
    text-transform: uppercase;
    background-color: #f9f6f3;
    border: 2px solid #000000;
    outline: none;
}

.appointment-form input:focus { border: 2px solid #663d15; }

.appointment-form input:nth-child(even) { margin-right: 0; }

.appointment-form .btn {
    clear: both;
    width: 100%;
}
/*=====  End of $Index Content  ======*/





/*=====================================
=            $Item Content            =
=====================================*/
.photo-gallery {
    float: left;
    margin-right: 10px;

    /* Только для оформления сетки */
    min-height: 670px;
    outline: 2px solid cyan;
}

.description {
    float: left;
    width: 390px;

    /* Только для оформления сетки */
    min-height: 200px;
    outline: 2px solid cyan;
}

.price {
    /* Только для оформления сетки */
    min-height: 45px;
    outline: 2px solid cyan;
}

.kit {
    /* Только для оформления сетки */
    min-height: 175px;
    outline: 2px solid cyan;
}
/*=====  End of $Item Content  ======*/





/*======================================
=            $Price Content            =
======================================*/
.price-content-left {
    float: left;
    width: 400px;

    /* Только для оформления сетки */
    min-height: 260px;
    outline: 2px solid violet;
}

.price-content-right {
    float: right;
    width: 470px;

    /* Только для оформления сетки */
    min-height: 260px;
    outline: 2px solid violet;
}

.about {
    /* Только для оформления сетки */
    min-height: 170px;
    outline: 2px solid violet;
}

.about-content-left {
    float: left;
    width: 400px;

    /* Только для оформления сетки */
    outline: 2px solid orange;
}

.about-content-right {
    float: right;
    width: 470px;

    /* Только для оформления сетки */
    outline: 2px solid orange;
}
/*=====  End of $Price Content  ======*/





/*=====================================
=            $Shop Content            =
=====================================*/
.filters {
    float: left;
    width: 220px;
}

.products {
    float: right;
    width: 700px;

    /* Только для оформления сетки */
    outline: 2px solid violet;
}

.products-item {
    display: inline-block;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;

    outline: 1px solid green;
}

.products-item:nth-child(3n) { margin-right: 0; }
/*=====  End of $Shop Content  ======*/







/*===============================
=            $Footer            =
===============================*/
.main-footer {
    margin-top: 65px;
    padding: 60px 0 40px;
    color: #ffffff;
    background: #232323 url(../img/footer-bg.png);
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
}

.footer-contacts a { color: #ffffff; }

.footer-contacts a:hover { text-decoration: none; }

.footer-social {
    float: left;
    width: 180px;
    text-align: center;
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
}

.social-btn {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    background-color: #000000;
    transition: background-color 0.5s;
}

.social-btn:hover { background-color: #ffffff; }

.social-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    transition: background-position 0.5s;
}

.social-btn-vk::before {
    width: 25px;
    height: 16px;
    background-position: -122px -2px;
}

.social-btn-fb::before {
    width: 12px;
    height: 22px;
    background-position: -18px -2px;
}

.social-btn-inst::before {
    width: 21px;
    height: 21px;
    background-position: -50px -2px;
}

.social-btn-vk:hover::before { background-position: -151px -2px; }

.social-btn-fb:hover::before { background-position: -34px -2px; }

.social-btn-inst:hover::before { background-position: -75px -2px; }

.footer-copyright {
    float: right;
    max-width: 180px;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.footer-copyright .btn { margin-right: 0; }

.footer-copyright .btn:hover {
    color: #000000;
    background-color: #ffffff;
}
/*=====  End of $Footer  ======*/
